<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>527588754648-vu80ugapmgvhenggmhq4mmev6lpn7tu3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.527588754648-vu80ugapmgvhenggmhq4mmev6lpn7tu3</string>
	<key>API_KEY</key>
	<string>AIzaSyADzOgjowQGS4pmuL_RCrVQv2WUh15KGbU</string>
	<key>GCM_SENDER_ID</key>
	<string>527588754648</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dawratok</string>
	<key>PROJECT_ID</key>
	<string>dawratuk</string>
	<key>STORAGE_BUCKET</key>
	<string>dawratuk.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:527588754648:ios:ef69ba61c00bfc836943ad</string>
</dict>
</plist>